.nav-section{
    width: 100vw;
    height: 10vh;
    background-color: var(--dark-base);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 80%;
    height: 70%;
    background-color: var(--mid-base); 
    display: flex;
    align-items: center;
    justify-content: left;
}

#search-input{
    width: 93.5%;
    margin-left: 0.75%;
    height: 75%;
    background-color: var(--dark-base);
    border: none;
}

#search-button{
    background-color: var(--secondary-color);
    margin-left: 0.75%;
    height: 75%;
    width: 4%;
    border: none;
}

.playlist-section{
    width: 100vw;
    height: 70vh;
    background-color: var(--dark-base);
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-container{
    width: 80%;
    height: 90%;
    background-color: var(--mid-base);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.song-container{
    width: 98.5%;
    height: 5vh;
    margin-top: 1vh;
    background-color: var(--dark-base);
    display: flex;
}

.song-container > *{
    margin-left: 2vh;
    color: var(--white-color);
    font-family: Gotham Htf;
}

.suggestions-section{
    width: 100vw;
    height: 20vh;
    background-color: var(--dark-base);
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestion-container{
    width: 80%;
    height: 90%;
    background-color: var(--mid-base);
}

/*
border-radius
*/

.suggestion-container, .playlist-container, .search-bar, .song-container, #search-input, #search-button{
    border-radius: 10px;
}