body{
    margin: 0;
    padding: 0;
}

:root{
    --dark-base: #222831;
    --mid-base: #31363F;
    --secondary-color: #76ABAE;
    --hover-secondary-color: #3562ea;
    --white-color: #EEEEEE;
}