<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shuffle.ai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="nav-section">
        <div class="search-bar">
            <input list="song-suggestions" type="text" id="search-input">
            <!-- example how to get suggestions to work-->
            <datalist id="song-suggestions"></datalist>
            <button id="search-button" onclick="addSongFromInput()">search</button>
        </div>
    </div>

    <div class="playlist-section">
        <h1 id="playlist_title">love songs</h1>
        <!-- list of the songs added to the playlist -->
        <div class="playlist-container" id="playlist-div-id">
            <!-- playlist item-->
        </div>
    </div>
    <div class="suggestions-section">
        <h1 id="playlist_title">suggestions</h1>
        <button class="search-button" onclick="doSuggestion()"> Suggest song</button>
        <div class="suggestion-container" id="suggestion-container-songs">
            <div class="song-container" id="3329fab5-62a1-40ef-ad7f-d5b4faf217bd">
                <div class="start-song-div">
                    <p class="start-song-section"><b>Castle On the Hill </b> - Ed Sheeran</p>
                </div>
                <div class="middle-song-div">
                    <p class="middle-song-section">34.002</p>
                </div>
                <div class="end-song-div"><button class="end-song-section add-song-button" value="3329fab5-62a1-40ef-ad7f-d5b4faf217bd" onclick="addSongSuggestion(value)">+</button></div>
            </div>
        </div>
        <!-- list of the songs suggestions-->
    </div>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>