<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shuffle.ai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
    <body>
        <div class="nav-section">
            <div class="search-bar">
                <input list="fruits" type="text" id="search-input">  
                <!-- example how to get suggestions to work-->
                <datalist id="fruits">
                    <option value="Apple">
                    <option value="Banana">
                    <option value="Cherry">
                    <option value="Grapes">
                    <option value="Orange">
                    <option value="Mango">
                    <option value="Pineapple">
                    <option value="Strawberry">
                </datalist>
            </div>
        </div>

        <div class="playlist-section">
            <h1 id="playlist_title">love songs</h1>
            <!-- list of the songs added to the playlist -->
            <div class="playlist-container">
                <!-- playlist item-->
                <div class="song-container">
                    <div class="start-song-div"><p class="start-song-section"><b>Perfect</b>- Ed Sheeran</p></div>
                    <div class="middle-song-div"><p class="middle-song-section">34.002</p></div>
                    <div class="end-song-div"><p class="end-song-section">></p></div>
                </div>
                <!-- splitting the song sections in 3 parts to have an even spacing -->
            </div>
        </div>
        <div class="suggestions-section">
            <h1 id="playlist_title">suggestions</h1>
            <div class="suggestion-container">
                <div class="song-container">
                    <div class="start-song-div"><p class="start-song-section"><b>Castle On the Hill </b> - Ed Sheeran</p></div>
                    <div class="middle-song-div"><p class="middle-song-section">34.002</p></div>
                    <div class="end-song-div"><button class="end-song-section add-song-button">+</button></div>
                </div>
            </div>
            <!-- list of the songs suggestions-->
        </div>
    </body>
    <script>
    function sendInput(input_data) {
        fetch('/word_search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({input: input_data})
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);

            // document.getElementById('result').innerText = data.result;
        });
    }

    document.getElementById('search-input').addEventListener('input', function(event) {
            console.log('Current value:', event.target.value);
            sendInput(event.target.value);
        });

    </script>

</html>